/* Give your page a fun background color */
/* Give your page a fun background color */
body {
  background-color: lightskyblue;
}

/* Make the header and footer a different color from the background */
header, footer {
  background-color: rgb(5, 14, 63);
}

/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
  color: ghostwhite;
}

/* Make your p tag a different color and italic */
p {
  color: rgb(233, 95, 16);
  font-style: italic;
}

/* Put a border around your image */
img {
  padding: 10px;
  border: 10px solid rgb(233, 95, 16);
  background-color: rgb(5, 14, 63);
}

/* Change the font-family of your list */
ul, li {
  font-family: Arial, Helvetica, sans-serif;
}
